<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 p-4 z-50" (click)="onCancel()">
  <div class="relative w-full max-w-3xl max-h-full overflow-hidden overflow-y-auto bg-white rounded-lg shadow-lg md:max-w-4xl lg:max-w-5xl xl:max-w-6xl 2xl:max-w-7xl" (click)="$event.stopPropagation()">
    <div class="flex items-center justify-between p-4 border-b border-gray-300">
      <h2 class="text-xl font-bold mx-auto">{{ piece ? 'Edit Piece' : 'Create New Piece' }}</h2>
      <button (click)="onCancel()" class="absolute right-4 text-gray-600 hover:text-gray-900">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="p-6">
      <form [formGroup]="pieceForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-4 mb-4 md:grid-cols-2">
          <div>
            <label for="title" class="block mb-2 text-sm font-bold">Title:</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <i class="fas fa-pencil-alt text-gray-500"></i>
              </span>
              <input formControlName="title" class="w-full p-2 pl-10 border rounded" />
            </div>
            <input-error-msg [control]="formControls['title']" controlName="title"></input-error-msg>
          </div>
          <div>
            <label for="imageURL" class="block mb-2 text-sm font-bold">Image URL:</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <i class="fas fa-link text-gray-500"></i>
              </span>
              <select formControlName="imageURL" class="w-full p-2 pl-10 border rounded">
                <option value="https://placehold.co/600x400?text=BED">bed</option>
                <option value="https://placehold.co/600x400?text=CHAIR">chair</option>
                <option value="https://placehold.co/600x400?text=TABLE">table</option>
              </select>
            </div>
            <input-error-msg [control]="formControls['imageURL']" controlName="imageURL"></input-error-msg>
          </div>
        </div>
        <div class="mb-4">
          <label for="description" class="block mb-2 text-sm font-bold">Description:</label>
          <div class="relative">
            <textarea id="description" formControlName="description" class="w-full p-2 border rounded"></textarea>
            <input-error-msg [control]="formControls['description']" controlName="description"></input-error-msg>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 mb-4 md:grid-cols-3">
          <div>
            <label for="brand" class="block mb-2 text-sm font-bold">Brand:</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <i class="fas fa-tag text-gray-500"></i>
              </span>
              <input id="brand" formControlName="brand" class="w-full p-2 pl-10 border rounded" />
              <input-error-msg [control]="formControls['brand']" controlName="brand"></input-error-msg>
            </div>
          </div>
          <div>
            <label for="material" class="block mb-2 text-sm font-bold">Material:</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <i class="fas fa-cube text-gray-500"></i>
              </span>
              <input id="material" formControlName="material" class="w-full p-2 pl-10 border rounded" />
            </div>
            <input-error-msg [control]="formControls['material']" controlName="material"></input-error-msg>
          </div>
          <div>
            <label for="price" class="block mb-2 text-sm font-bold">Price:</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <i class="fas fa-dollar-sign text-gray-500"></i>
              </span>
              <input id="price" formControlName="price" class="w-full p-2 pl-10 border rounded" />
            </div>
            <input-error-msg [control]="formControls['price']" controlName="price"></input-error-msg>
          </div>
        </div>
        <label for="room" class="block mb-2 text-sm font-bold">Designated Room:</label>
        <div class="relative mb-4">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <i class="fas fa-home text-gray-500"></i>
          </span>
          <select formControlName="room" class="w-full p-2 pl-10 border rounded">
            @for (room of rooms; track $index) {
            <option [value]="room">{{ room }}</option>
            }
          </select>
          <input-error-msg [control]="formControls['room']" controlName="room"></input-error-msg>
        </div>
        <div class="flex justify-center mt-6 space-x-2">
          <button type="button" (click)="onCancel()" class="py-2 px-4 text-white bg-light-dark-slate-grey rounded hover:transparent transition duration-300">Cancel</button>
          <button type="submit" class="py-2 px-4 text-light-dark-slate-grey bg-light-golden-yellow rounded hover:bg-light-coral hover:text-soft-grey transition duration-300">{{ piece ? 'Update' : 'Create' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
