<div class="flex items-center justify-center h-screen">
  <div class="relative z-10 max-w-lg p-8 text-center bg-white rounded-lg shadow-lg">
    <h1 class="mb-4 text-4xl font-bold">404 - Page Not Found</h1>
    <div class="rounded-lg overflow-hidden">
      <img [src]="imageURL" alt="404 Image" class="mx-auto mb-8 max-w-full h-auto">
    </div>
    <p class="mb-4 text-lg">Sorry, no furniture here! Maybe you should try</p>
    <a href="/" routerLink="/home" class="text-blue-500 hover:underline">having a look here</a>
  </div>
</div>
