<div class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center z-50 overflow-y-auto" (click)="onCancel($event)">

  <!-- Large screens -->
  <div class="hidden lg:flex w-full max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6 relative" (click)="$event.stopPropagation()">
    <!-- Post Details -->
    <div class="w-1/2 p-4 border-r">
      <h2 class="text-xl font-bold mb-4 text-center">Post Details</h2>
      <swiper-container slides-per-view="1" speed="500" loop="true" css-mode="true" navigation="true">
        @for (piece of offer?.post?.pieces; track $index) {
        <swiper-slide>
          <img [src]="piece.imageURL" alt="Post Image" class="w-full h-64 object-cover mb-2 rounded-lg">
          <div class="w-full p-2">
            <p class="text-sm font-bold">{{ piece.title }}</p>
            <p class="text-sm">{{ piece.description }}</p>
          </div>
        </swiper-slide>
        }
      </swiper-container>
      <h4 class="text-lg font-bold mb-2">{{ offer?.post!.title }}</h4>
      <p class="mb-2">{{ offer?.post!.description }}</p>
      <div class="text-sm text-gray-600 text-center">
        <p>{{ offer?.post!.user.name }} - {{ offer?.post!.created_at | date }}</p>
      </div>
    </div>

    <!-- Offer Details -->
    <div class="w-1/2 p-4">
      <h2 class="text-xl font-bold mb-4 text-center">Offer Details</h2>
      <swiper-container slides-per-view="1" speed="500" loop="true" css-mode="true" navigation="true">
        @for (piece of offer?.pieces; track $index) {
        <swiper-slide>
          <img [src]="piece.imageURL" alt="Piece Image" class="w-full h-64 object-cover mb-2 rounded-lg">
          <div class="w-full p-2">
            <p class="text-sm font-bold">{{ piece.title }}</p>
            <p class="text-sm">{{ piece.description }}</p>
          </div>
        </swiper-slide>
        }
      </swiper-container>
      <h4 class="text-lg font-bold mb-2">Message:</h4>
      <p class="mb-4">{{ offer?.message }}</p>
    </div>

    <!-- Close Button -->
    <button type="button" (click)="onCancel($event)" class="absolute top-4 right-4 text-gray-600 hover:text-gray-900">
      <i class="fas fa-times text-2xl"></i>
    </button>
  </div>

  <!-- Mobile screens -->
  <div class="lg:hidden w-full h-full bg-white p-4 relative flex flex-col overflow-y-auto" (click)="$event.stopPropagation()">
    <!-- Close Button -->
    <button type="button" (click)="onCancel($event)" class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 z-50">
      <i class="fas fa-times text-2xl"></i>
    </button>

    <!-- Post Details -->
    <div class="w-full p-4 border-b flex flex-col">
      <h2 class="text-xl font-bold mb-4">Post Details</h2>
      <div class="w-full md:w-1/2 mb-6 md:mb-0 relative">
        <swiper-container slides-per-view="1" speed="500" loop="true" css-mode="true" navigation="true">
          @for (piece of offer?.post?.pieces; track $index) {
          <swiper-slide>
            <img [src]="piece.imageURL" alt="Post Image" class="w-full h-64 object-cover mb-4 rounded-lg">
            <div class="w-full p-2">
              <p class="text-sm font-bold">{{ piece.title }}</p>
              <p class="text-sm">{{ piece.description }}</p>
            </div>
          </swiper-slide>
          }
        </swiper-container>
      </div>
      <h3 class="text-lg font-bold mb-2 text-center">{{ offer?.post!.title }}</h3>
      <p class="mb-4">{{ offer?.post!.description }}</p>
      <div class="text-sm text-gray-600">
        <p><strong>Posted by:</strong> {{ offer?.post!.user.name }}</p>
        <p><strong>Date:</strong> {{ offer?.post!.created_at | date }}</p>
      </div>
    </div>

    <!-- Offer Details -->
    <div class="w-full p-4 flex flex-col">
      <h2 class="text-xl font-bold mb-4">Offer Details</h2>
      <div class="w-full md:w-1/2 mb-6 md:mb-0 relative">
        <swiper-container slides-per-view="1" speed="500" loop="true" css-mode="true" navigation="true">
          @for (piece of offer?.pieces; track $index) {
          <swiper-slide>
            <img [src]="piece.imageURL" alt="Piece Image" class="w-full h-32 object-cover mb-2 rounded-lg">
            <div class="w-full p-2">
              <p class="text-sm font-bold">{{ piece.title }}</p>
              <p class="text-sm">{{ piece.description }}</p>
            </div>
          </swiper-slide>
          }
        </swiper-container>
      </div>
      <h3 class="text-lg font-bold mb-2">Message:</h3>
      <p class="mb-4">{{ offer?.message }}</p>
    </div>
  </div>

</div>
