<div class="mx-auto mt-10 mb-10 max-w-3xl rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800">
  <div class="text-center">
    <img src="{{author.imageURL}}" alt="User Photo" class="mx-auto mb-4 h-32 w-32 rounded-full">
    <h1 class="text-3xl font-bold">{{author.author}}</h1>
    <p class="mt-2 text-gray-600 dark:text-gray-300">{{author.bio}}</p>
  </div>

  <div class="mt-6 text-center">
    <h2 class="mb-2 text-2xl font-semibold">Technologies I Use</h2>
    <ul class="inline-block space-y-1 text-left">
      @for (item of author.technologies; track $index) {
        <li>{{item}}</li>
      }
    </ul>
  </div>

  <div class="mt-6 text-center">
    <h2 class="mb-2 text-2xl font-semibold">Connect with Me</h2>
    <div class="flex justify-center space-x-4">
      <a href="{{author.social.portfolioURL}}" target="_blank" class="text-light-coral hover:text-light-coral-dark">
        <i class="fas fa-briefcase h-6 w-6"></i>
      </a>
      <a href="{{author.social.linkedinURL}}" target="_blank" class="text-light-coral hover:text-light-coral-dark">
        <i class="fab fa-linkedin h-6 w-6"></i>
      </a>
      <a href="{{author.social.githubURL}}" target="_blank" class="text-light-coral hover:text-light-coral-dark">
        <i class="fab fa-github h-6 w-6"></i>
      </a>
    </div>
  </div>
</div>
