# Node.js dependencies
node_modules

# Optional npm cache directory
.npm

# Angular build artifacts
dist

# IDE and editor settings
.idea
.vscode
*.swp

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
*.env

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Docker-specific files
.dockerignore
Dockerfile
