<div class="mt-6 text-center">
  <img [src]="user.image" alt="profile card" class="w-32 h-32 mx-auto rounded-full md:w-40 md:h-40">
  <div class="mb-6 text-xl font-bold text-gray-800 md:text-2xl">{{ user.name }} {{ user.surname }}</div>
  <div class="flex flex-wrap justify-center mb-6 text-gray-600">
    <div class="flex flex-col items-center justify-center px-6 py-4">
      <div class="text-xl md:text-2xl">{{ userDetails.postsCount }}</div>
      <div class="text-sm md:text-base">active posts</div>
    </div>
    <div class="flex flex-col items-center justify-center px-6 py-4">
      <div class="text-xl md:text-2xl">{{ userDetails.truekesCount }}</div>
      <div class="text-sm md:text-base">truekes done</div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center mb-4">
    @if (canUpdate) {
      <button (click)="onUpdateProfileBtnClick()" class="px-4 py-2 mx-2 my-1 text-white bg-yellow-500 rounded-full md:mx-4 md:my-2">Edit Profile</button>
    }
    <button (click)="viewUserListings()" class="px-4 py-2 mx-2 my-1 text-white bg-yellow-500 rounded-full md:mx-4 md:my-2">View listings</button>
  </div>
</div>
